.asset-card {
    flex: 0 0 25%;
    max-width: 25%;
    background: #27293d;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 12vmin;
    border-radius: 0.5vmin;
}



.asset-icon {
    height: 3vmin;
    width: 3vmin;
}

.asset-icon.growth {
    height: 3vmin;
    width: 3vmin;

}

.col-icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: steelblue;
    margin-top: 1vmin;
  }
  
.col-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 1.5vmin;
    margin-top: 1vmin;
  }

.asset-card .divider {
    margin: 1rem 1rem !important;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    margin-top: 0.2vmin;
}

.roww {
    display: flex;
    /* flex-direction: column; */
}

.ticker {
    margin-bottom: 0;
    color: #9a9a9a;
    font-size: .75rem;
    text-transform: capitalize;
    font-weight: 300;
}

.value {
    color: #fff;
    text-transform: inherit;
    font-weight: 300;
    margin-bottom: 0.75rem;
    line-height: 1.4em;
    font-size: 1.4375rem;
}

.asset-value {
    color: #fff;
    text-transform: inherit;
    font-weight: 300;
    margin-bottom: 0.75rem;
    line-height: 1.4em;
    font-size: 1.4375rem;
    margin-top: 1.8vmin;
}

h2.card-title {
    font-size: 0.9rem;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 200;
    color: hsla(0,0%,100%,.6);
    padding-bottom: 1vmin !important;    margin-left: 1vmin !important;
}

.asset-card-body {
    padding: 15px;
}

.asset-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.asset-row-1 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.asset-row-2 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.numbers {
    text-align: right;
}

.asset-card.ticker {
    margin-bottom: 0;
    color: #9a9a9a;
    font-size: .75rem;
    text-transform: capitalize;
    font-weight: 400;
}

.asset-card-footer {
    padding: 0;
    border: 0;
    border-radius: 0 0 0.2232rem 0.2232rem;
}


.asset-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: hsla(0,0%,100%,.6);
}