.suggestions-container {
    /* border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 7.5vmin;
    width: 71vmin;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 1vmin; */
  }

.modal-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .suggestion-item {
    padding: 0.5vmin;
    list-style-type: none;
    text-align: start;
    padding-left: 2vmin;
    width: 100%;
    color: white;
  }

.modal-ticker {
    font-weight: 400;
}
  
  .css-t89xny-MuiDataGrid-columnHeaderTitle {
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap !important;
    font-weight: var(--unstable_DataGrid-headWeight);
    color: white;
      }

button.asset-button {
  width: 40%;
  display: inline-block;
  padding: 1vmin;
  background: linear-gradient(to right, #3060f5, #1e89f8); 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: -1vmin;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 11px 40px;
  font-size: .875rem;
  line-height: 1.35em;
  transition: all .15s ease;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

div.button-container-asset {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-top: 10px;
  flex-direction: column;
  
  }

select.asset-sector {
    word-wrap: normal;
    border-radius: 0.4285rem;
    background-color: transparent;
    border-color: #2b3553;
    padding: 10px 18px;
    font-size: .75rem;
    width: 100%;
    line-height: 1.42857;
    font-weight: 400;
    color: hsla(0,0%,100%,.8);
    background-clip: padding-box;
    margin-bottom: 1.5vmin;
}

.suggestion-item--highlighted {
  background-color:#3b4871;
  width: 100%;
  border-radius: 0.4285rem;
  padding-left: 2vmin;
}

.MuiDataGrid-cellContent {
  color: #fff;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}

.success-message {
  margin-top: 3vmin;
    margin-bottom: -0.5vmin;
}

.form-control {
  background: transparent;
}

div.edit-form-container {
    background-color: #27293d;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-bottom: 0vmin;
    border-radius: 0.5vmin;
    padding-top: 2vmin;
    width: 40vmin;
}

h4.edit-header {
  line-height: 1.45em;
  font-size: 1.0625em;
  color: #fff;
  font-weight: 100;
  padding-bottom: 0.5vmin;
}

.dialogContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogContainer .MuiDialogContent-root {
    padding: 20px;
    overflow-y: initial !important;
}

.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.css-ypiqx9-MuiDialogContent-root {
    flex: 1 1 auto;
    overflow-y: initial !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
.css-1qxadfk-MuiPaper-root-MuiDialog-paper,
.css-sd33hq  {
    background-color: transparent !important;
    color: #fff !important;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
    background-image: none !important;
    margin: 32px !important;
    position: relative !important;
    overflow-y: initial !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100% - 64px) !important;
    max-width: 600px !important;
}
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }

.cancel-button {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #3060f5;
}