.suggestions-container {
    /* border: 1px solid #aaa;
    background-color: #fff;
    position: absolute;
    top: 7.5vmin;
    width: 71vmin;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 1vmin; */
  }
  
  .suggestion-item {
    padding: 0.5vmin;
    list-style-type: none;
    text-align: start;
    padding-left: 2vmin;
    width: 100%;
    color: white;
  }
  
  .css-t89xny-MuiDataGrid-columnHeaderTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: var(--unstable_DataGrid-headWeight);
    color: white;
      }

button.asset-button {
  width: 40%;
  display: inline-block;
  padding: 1vmin;
  background: linear-gradient(to right, #3060f5, #1e89f8); 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: -1vmin;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  padding: 11px 40px;
  font-size: .875rem;
  line-height: 1.35em;
  transition: all .15s ease;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

div.button-container-asset {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-top: 10px;
  flex-direction: column;
  
  }

select.asset-sector {
    word-wrap: normal;
    border-radius: 0.4285rem;
    background-color: transparent;
    border-color: #2b3553;
    padding: 10px 18px;
    font-size: .75rem;
    width: 100%;
    line-height: 1.42857;
    font-weight: 400;
    color: hsla(0,0%,100%,.8);
    background-clip: padding-box;
    margin-bottom: 1.5vmin;
}

.suggestion-item--highlighted {
  background-color:#3b4871;
  width: 100%;
  border-radius: 0.4285rem;
  padding-left: 2vmin;
}

.MuiDataGrid-cellContent {
  color: #fff;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}

.success-message {
  margin-top: 3vmin;
    margin-bottom: -0.5vmin;
}

.form-control {
  background: transparent;
}

div.edit-form-container {
    display: flex;
    background-color: #27293d;
    padding-top: 2vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-bottom: 0vmin;
    border-radius: 0.5vmin;
    grid-column-start: 1;
    grid-column-end: 3;
    min-width: 55%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50vmin;
    margin-right: 40vmin;
}

h4.edit-header {
  line-height: 1.45em;
  font-size: 1.0625em;
  color: #fff;
  font-weight: 100;
  padding-bottom: 0.5vmin;
}

.dialogContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogContainer .MuiDialogContent-root {
    padding: 20px;
    overflow-y: initial !important;
}

.MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.css-ypiqx9-MuiDialogContent-root {
    flex: 1 1 auto;
    overflow-y: initial;
    background-color: rgba(0, 0, 0, 0.9);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }

.cancel-button {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: #3060f5;
}