#sidebar {
    width: 20%; 
    height: 95vh;
    color: white;
    border-radius: 0.5vmin !important;

  }
  
.sc-JrDLc.hMzbYH.pro-sidebar,
#sidebar-corners,
.gaTCvF {
    border-radius: 0.5vmin !important;
    color: white;
    height: 95vh;
}

.sc-fjvvzt,
.bBCvMk,
.sc-bbSZdi,
.eETGfq {
  background: linear-gradient(to bottom, #1d8af8, #3358f4);
    border-radius: 0.5vmin !important;
}

#sidebar-wrapper {
  border-radius: 0.5vmin !important;
  overflow: hidden;
}

.fa-bars:before {
  margin-right: 0.7vmin;
}

.sidebar-btn-wrapper {
  padding-bottom: 2vmin;
  margin-right: 1vmin;
}

a.text-decoration {
  font-weight: 400 !important;
}

.gaTCvF {
  background: rgb(17, 24, 39);
  color: rgb(255, 255, 255);
  height: 100%;
  width: 270px;
  min-width: 270px;
  text-align: left;
  transition: width 0s ease 0s, left 0s ease 0s, right 0s ease 0s, all 1.5s ease 0s;
  position: relative;
  z-index: 1009;
}